

$font-1: "Raleway","Helvetica Neue","Helvetica","Arial",sans-serif;
$font-2: "Open Sans", "Arial", sans-serif;

$darkest-blue: #1f3150;
$dark-blue-1: #324e80;
$dark-blue-2: #345185;
$medium-blue: #456cb1;
$dark-gray: #333333;
$light-gray: #999999;
$off-white: #eeeeee;
$pure-white: #ffffff;
$link-color: #ecab32;
$success: #66ffbb;

html {
    color: $off-white;
    font-size: 62.5%;
    font-family: $font-2;
    -webkit-font-smoothing: antialiased; 
}
body {
    font-size: 10px; 
    font-size: 1rem;
    background-color: $dark-gray;
    padding: 0px;
    margin: 0;
}
.content {
    width: 70%;
    max-width: 75rem;
    margin: auto;
}
.hidden {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.25s ease-out 0s;
}
strong {
    color: $pure-white;
    font-weight: normal;
}

/* BUTTON STYLE */

button {

    background-color: $dark-blue-1;
    padding: 1rem 1.6rem;
    border: 2px solid $off-white;
    color: $off-white;
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    border-radius: 0.8rem;
    transition: all 0.25s ease-in-out 0s;
    i {
        margin-right: 1rem;
    }
    &:hover {
        background-color: $off-white;
        color: $dark-blue-2;
        transition: all 0.25s ease-in-out 0s
    } 

}

.return {
    padding: 0.8rem 0 2rem 0;
    text-align: center;
    font: 400 1.2rem/1.4rem $font-1;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

section {
    padding: 3rem 6rem 3rem 6rem;
    text-align: center;
    font-size: 2rem;

    h2 {
        font: 600 2.4rem/2.6rem $font-1;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        margin: 0.4rem auto;
        color: $pure-white; 
    }
    p {
        text-align: left;
    }
}

nav {
    font: 600 1.5rem/1.8rem $font-1;
    letter-spacing: 0.08rem;
    text-align: center;
    margin: auto;

    #btn-nav {
        font-size: 2.8rem;
        display: none;
    }
    a {
        color: $off-white;
    }
    li a:hover {
        color: $link-color;
    }
    ul {
        margin: auto;
        padding: 0;
    }
    li {
        display: inline-block;
        text-transform: uppercase;
        margin: 1rem 1.2rem;  
    }
}

header {
    background-color: $darkest-blue;
    background-image: url('../img/code-bkgd.png');
    background-size: cover;
    border-top: 2px solid #3d557f;
    color: $off-white;
    margin: 0;
    padding: 1rem 0;

    > #masthead {
        background-color: rgba(52,81,133,0.8);
        border: 4px solid $light-gray;
        width: 66%;
        max-width: 70rem;
        margin: 2rem auto 6rem auto;
        padding: 2rem;
    }
    h1 {
        font: 800 4rem/4.2rem $font-1;
        letter-spacing: 2rem;
        text-transform: uppercase;
        margin: 1rem 0;
    }
    .subtitle {
        font: 400 2rem/2.2rem $font-1;
        letter-spacing: 0.1rem;
        margin: 1rem 0 4rem 0;
    }
    .logo {
        margin-right: 14px;
        border-right: 2px solid $light-gray;
        float: left;
        padding: 0 2rem 0 0;
    }
    .details {
        margin: 1rem 0;
        float: left;
    }
    .location, .email {
        font: 300 1.2rem/1.8rem $font-1;
        letter-spacing: 0.08rem;
        color: $off-white;
        margin: 0.2rem 0;
    }
    .links {
        font: 300 1.4rem/1.8rem $font-1;
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        color: $off-white;
        margin: 0.2rem 0;
    }
    .links a {
        font-size: 1rem;
        color: $link-color;
        text-decoration: none;
    }
}

#about {
    background-color: $dark-blue-2;
    color: #ccc;

    h3 {
        font: 600 2rem/2rem $font-1;
        letter-spacing: 0.16rem;
        color: $off-white;
    }
    a {
        letter-spacing: 0.09rem;
    }
    button {
        margin: 1rem;
    }
    p {
        font: 300 1.8rem/2.4rem $font-1;
        letter-spacing: 0.1rem;
        color: $off-white;

    }
    p > strong {
        color: hsla(40, 100%, 86%, 1);
    }
}

/* SKILLS SECTION */

#skills {
    background-color: $medium-blue;
    color: #ccc;

    ul {
        list-style-type: none;
    }
    li {
        font: 600 1.6rem/1.5rem $font-1;
        letter-spacing: 0.1rem;
        color: $off-white;
        display: block-inline;
        margin: 0.2rem 0 0.2rem 1.2rem;
        height: 2.8rem;
        width: 30%;
        float: left;
        text-align: left;
    }
    .high {
        font-weight: 600;
    }
    .medium {
        font-weight: 300;
    }
    .low {
        font-weight: 100;
    }
}

/* RECENT WORK SECTION */

#work {
    background-color: $dark-blue-2;
    color: $off-white;

    .example-group {
        margin-top: 4rem;
    }
    .example {
        display: inline-block;
        background-color: $dark-blue-1;
        border: 1px solid $dark-blue-1;
        width: 20rem;
        height: 20rem;
        margin: 1rem;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    .example img {
        border: 1px solid $darkest-blue;
        position: absolute;  
        left: 0;
        opacity: 1;
        -webkit-transition: all 300ms ease-out;  
        -moz-transition: all 300ms ease-out;  
        -o-transition: all 300ms ease-out;  
        -ms-transition: all 300ms ease-out;  
        transition: all 300ms ease-out; 
        z-index: 99;
    }
    .example:hover img {
        z-index: 1;
        opacity: 0.2;
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    .example .caption {
        font: 200 1.2rem/1.3rem $font-2;
        color: $off-white;    
    }
    .example .caption > h3 {
        font-weight: 500;
        position: absolute;
        left: 6%;
        top: 14%;
        z-index: 50;
    }
    .example .caption > p {
        position: absolute;
        left: 6%;
        top: 28%;
        z-index: 50;
    }
    button {
        margin-top: 2.6rem;
        margin-bottom: 2.6rem;        
    }
}

#work-example {
    background-color: $dark-blue-2;
    color: $off-white;
    .example {
        margin: 4rem 0 2rem 0;
    }
    h3 {
        font: 400 1.8rem/2rem $font-1;
        letter-spacing: 0.1rem;
        margin: 0.4rem;
        color: $off-white; 
    }
    img {
        border: 1px solid $off-white;
        box-shadow: 4px 4px 2px $darkest-blue; 
    }
    .screenshots {
        width: 44%;
        float: left;
    }
    .details {
        width: 52%;
        float: left;
    }
    .details > div {
        margin: 0 0 2rem 1.6rem;
        letter-spacing: 0.1rem;
    }
    .details > .date {
        font: 300 1.4rem/1.6rem $font-1;
    }
    .details > .skills-used {
        font: 600 1.6rem/1.6rem $font-1;
    }
    .details > .description {
        font: 400 1.4rem/1.8rem $font-1;
        text-align: left;
        margin-left: 2rem;
    }
    .details > .refs {
        font: 400 1.2rem/1.4rem $font-1;
        text-transform: uppercase;
    }
    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }
    .rslides li:first-child {
        position: relative;
        display: block;
        float: left;
    }
    .rslides img {
        background-color: $light-gray;
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 1px solid $darkest-blue;
    }
}

#posts {
    background-color: $medium-blue;
    color: $off-white;

    .posts-group {
        margin-top: 2rem;
    }
    .post {
        display: inline-block;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        width: 36rem;
        margin: 2rem 0.6rem;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        vertical-align: top;
    }
    .title {
        font: 600 2rem/2.2rem $font-1;
        letter-spacing: 0.3rem;
        margin: 3rem auto 1rem auto;
    }
    .title a {
        color: $off-white;        
    }
    .date {
        font: 200 1.2rem/1.2rem $font-1;
        letter-spacing: 0.1rem;
        margin: 1rem auto;
    }
    .text p {
        font: 300 1.5rem/2.4rem $font-1;
        margin: 1rem 1rem 3rem 1rem;
        text-align: justify;
        text-justify: inter-word;
    }
    .loading {
        margin: 4rem auto;
        font-size: 3rem;
    }
}

#contact {
    font: 400 1.8rem/2.2rem $font-1;
    letter-spacing: 0.1rem;
    background-color: $dark-blue-2;
    color: $off-white;

    .content > div {
        margin: 2.4rem;
    }
    .links {
        font-size: 4rem; 
        line-height: 4.4rem;
    }
    .links a {
        color: #ccc;
        margin: 0.6rem 1rem;
    }
    .links a:hover {
        color: $pure-white;
    }
    form {
        margin: 2rem auto;
        padding: 2rem 0;
        width: 100%;
        max-width: 50rem;
        text-align: center;
    }
    form > div {
        margin-bottom: 1.8rem;
    }
    label {
        text-align: left;
        display: block;
        margin-bottom: 0.6rem;
    }
    input, textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: $light-gray;
        padding: 0.8rem;
        border: 1px solid $light-gray;
        background-color: $dark-blue-2;
    }
    textarea {
        height: 4rem;
    }
    input:focus, textarea:focus {
        color: $off-white;
        border: 1px solid $off-white;
        background-color: $dark-blue-1;
    }
    #contact-form-msg {
        font: 400 2.8rem/3.2rem $font-1;
        letter-spacing: 0.2rem;
        margin: 8rem 0;
        color: $success;
        span {
            font: 400 1.6rem/1.8rem $font-1;
            color: $off-white;
        }
        
    }
}

/* FOOTER SECTION */

footer {
    background-color: $darkest-blue;
    background-image: url('../img/code-bkgd.png');
    background-size: cover;
    color: $light-gray;
    margin: 0;
    padding: 4rem 0;
    font: 400 1.2rem/1.4rem $font-1;
    letter-spacing: 0.1rem;

    div {
        margin: 1rem;
        text-align: center;
    }
    .quote {
        color: $off-white;
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .attribution {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
}

/* MEDIA QUERIES / RESPONSIVE SETTINGS */

@media (max-width: 1170px) {
    #posts .post:first-of-type {
        border-bottom: none;
        margin: 1rem auto;
    }
}
@media (max-width: 1000px) {
    .content {
        width: 82%;
    }  
}
@media (max-width: 800px) {
    .content {
        width: 92%;
    }
    #about p {
        font-size: 1.6rem;
    }
}
@media (max-width: 710px) {
   header {
        text-align: center;
    
        .logo {
            border: 0;
            padding: 0;
            float: none;
            margin: 1rem auto;
        }
        .details {
            float: none;
            margin: 1rem auto;
        }
    }
}
@media (max-width: 600px) {
    nav {
        #btn-nav {
            display: block;
        }
        ul {
            display: none;
        }
        li {
            display: list-item;
            padding: 2rem;
            border: 1px solid $light-gray;
            background-color: rgba(52,81,133,0.8);
            margin-left: 10%;
            margin-right: 10%;
        }
        li:hover {
            background-color: $dark-blue-1;
            border: 1px solid $off-white;
        }
    }
    header {
        #masthead {    
            margin: 2rem auto;
        }
        h1 {
            font-size: 3.2rem;
            letter-spacing: 1.4rem;
        }
    }
    .content {
        width: 100%;
    }
    section {
        padding: 2rem;
    }
    #about p {
        font-size: 1.4rem;
    }
    #work-example {
        .screenshots {
            float: none;
            width: 75%;
            margin: 2rem auto;
        }
        .details {
            float: none;
            width: 75%;
            margin: 2rem auto;
        }
    }
    #posts .post {
        width: 80%;
    }
}
@media (max-width: 340px) {
    .content {
        width: 100%;
    }
    section {
        padding: 1.4rem;
    }
    #about p {
        font-size: 1.4rem;
    }
    #posts .post {
        width: 100%;
    }
    #contact textarea {
        height: 18rem;
    }
}


